/* nav style */
 

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
color: #FD6E0A;

}
 
.dark-2 {
    color: #474747;
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center {
    text-align: center;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

 /* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;

}
/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight:bold ;
    font-size: 85px;
}

.banner-description{
    font-weight: normal;
    font-size: 18px;
}
.dark-3 {
    color: #757575;
}

.banner-profile-pic {
    width: 580px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section {
    margin: 130px 0px 130px 0px;
}

/* about style */
 

.about {
    border-radius: 10px;
    padding: 131px 157px 131px 156px;
    text-align: center;
     
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 827;
}

/* skills section */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 104px 33px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #1e1e1e23;
}
 
.section-description {
    padding: 20px 130px 60px 130px;
}